.container {
  max-width: 124rem;
  /* padding: 4rem 1rem; */
  margin: 0 auto;
}

.swiper_container {
  height: 52rem;
}

.swiper-slide {
  width: 37rem;
  max-width: 100%;
}

.swiper-slide img {
  width: 60%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .swiper_container {
    height: 45rem;
  }

  .swiper-slide {
    width: 90%;
    max-width: 30rem;
  }

  .swiper-slide img {
    height: auto;
  }
  .slider-controler {
    display: none;
  }
}

@media (max-width: 500px) {
  .swiper_container {
    height: auto;
  }

  .swiper-slide {
    width: 90%;
    max-width: none;
  }

  .swiper-slide img {
    height: auto;
  }

  .slider-controler {
    position: absolute;
    bottom: 13rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 9rem;
  }

  .slider-controler .swiper-button-prev,
  .slider-controler .swiper-button-next {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }

  .slider-controler .swiper-button-prev ion-icon,
  .slider-controler .swiper-button-next ion-icon {
    font-size: 1.5rem;
    color: #222;
  }
}

.swiper-pagination {
  display: none;
}
